[2020-04-22 21:19] bmagyar opened #1 "Initial setup"
@destogl travis is already enabled, I believe github actions can be largely copied over from the `ros2_control` repo and I also added this to the boilerplate project so you can assign tickets to the project directly

[2020-04-26 17:10] olivier-stasse opened #2 "Organization"
Dear @destogl ,
As mentioned during the ros2_control meeting I am willing to help.
From your designed document I tried to give it a shot in:
https://github.com/olivier-stasse/ros2_control_demos.git

It just a starting point to implement the generic headless robot taking inspiration from Dave Coleman and @Karsten1987

Please feel free to reorganize or start from something different if you wish.

Le

[2020-04-26 21:01] bmagyar commented on #2
I'm happy to add you to the github project too @olivier-stasse ! @destogl could you please confirm if you have write permission to this repo or only to the github project?

[2020-04-27 08:08] olivier-stasse commented on #2
Dear @bmagyar if this fine with everyone this might be indeed interesting

[2020-05-05 15:23] destogl commented on #2
@bmagyar: I have write permission to this repo, thanks!

[2020-05-06 15:36] destogl commented on #1
@bmagyar  thanks once again :)

[2020-05-06 15:36] #1 closed

[2020-05-06 15:48] destogl opened #5 "Create description for `demo_robot`"
* The descriptions follow the proposal from [roadmap design document](https://github.com/destogl/roadmap/blob/ros2_hardware_interface_design_proposal/design_drafts/hardware_interface.md)

Do the following:
* [ ] Define the `demo_robot` and describe it in short in README.md
* [ ] Create simple URDF to vizualize the `demo_robot`
* [ ] Create description for `ros2_control`-`Robot` class which uses "b

[2020-05-06 15:51] destogl opened #6 "Create `ros2_control_core` package as proof of concept"
Create a new package `ros_control_core` in this repository to evaluate the concepts from the design document.

This is crucial for implementation of `demo_robot`.

The following issues need to be close before closing this one!

Probably is the simplest way to implement this in the following order:
#7
#10
#11
#12
#13
#14

[2020-05-06 15:55] destogl opened #7 "[ros2_control_core] Create virtual components"
* [x] BaseComponent
* [x] Component
* [x] Sensor
* [x] Actuator
* [x] Robot

[2020-05-06 15:58] destogl opened #8 "Add CI Github Actions and/or Travis"
Clarify with @bmagyar what is difference between Actions and Travis or are they exchangeable.

Check: #4

[2020-05-06 15:59] destogl opened #9 "Create repository `ros2_control_demos` and packages"
* [x] ros2_control_demo_robot_headless
* [x] ros2_control_demo_robot_gazebo
* [ ] ros2_control_templates

[2020-05-06 16:01] destogl commented on #9
The first two have now "communication" in the name to be inline with my proposal from [design document](https://github.com/destogl/roadmap/blob/ros2_hardware_interface_design_proposal/design_drafts/hardware_interface.md).

[2020-05-06 16:09] destogl opened #10 "Add test package for modeled robotic components"
Add test package for CI and to test the dynamic loading of components as they are implemented.

This is important for #6 so that one is able to test the implementation.

Do this first for the components and allow them not to load any `ComponentHardware`:

* [ ] First: Write a test for the `Sensor` component - it does not have many dependencies
* [ ] Test for the `Actuator` component
* [ ] Test for

[2020-05-06 16:23] destogl opened #11 "Create `*Hardware`-structures"
- [x] ComponentHardware
- [x] SensorHardware
- [x] ActuatorHardware
- [x] RobotHardware

[2020-05-06 16:28] destogl opened #12 "Integrate and test internal model and `*Hardware`-structures"
- [x] dynamically load `*Hardware` structures in the internal model. Use templated classes to avoid possibility of mixing different types of components.
- [x] Create classes for `demo_robot`
- [ ] Test `demo_robot` - this is a point where it will be shown is concept is working, therefore be careful and suspicious/strict.

[2020-05-06 16:31] destogl opened #13 "Create headless implementations of `*CommunicationInterface` for `demo_robot`"
- [ ] Test the whole chain for "batch" robot
- [ ] Test for the modular robot
- [ ] Check what happens if the robot has combined components/interfaces, e.g., Position and Velocity can be used together.

[2020-05-06 16:36] destogl opened #14 "Concept for loading the Robot using `ResourceManager`"
Finalize the demo_resource_manger to support all scenarios from the [roadmap example](https://github.com/destogl/roadmap/blob/control_components_design/design_drafts/components_architecture_and_urdf_examples.md) - see ros-controls/roadmap#17

Test the following:
- [x] Loading of all robots
- [x] Simple loop with read and write calls

[2020-05-07 09:58] destogl opened #15 "Use macros for Windows support in all files"
See comment from @bmagyar [here](https://github.com/ros-controls/ros2_control_demos/pull/3#discussion_r420930462)

[2020-05-07 12:05] destogl opened #16 "Resolve double checks in CI, Linters and Coverage"
There is overlap in the tests when running CI, Linters and Coverage actions. It would be nice to resolve this at some point.

Ideas? Best practices?

[2020-05-08 14:27] olivier-stasse commented on #16
Could you be a bit more specific ?

[2020-05-08 14:52] destogl commented on #16
If you look at the actions it seams that the Lint-Tests are called in every configuration. This is probably because of `colcon test` call. I am not sure if this should/can be removed so that we have one specific action broken and all of them when some of the Lints are not happy.

[2020-05-08 15:16] olivier-stasse commented on #16
It seems to come from
https://github.com/ros-controls/ros2_control_demos/blob/fe783a869a8f5db0edbe7c954b19250b148f18a3/ros2_control_demo_robot/CMakeLists.txt#L26
for the ros2_control_demos package.
If it can be removed then it could set by a cmake option. Then the github action in charge of the linter would set it to TRUE.

[2020-05-10 07:10] #8 closed

[2020-05-10 07:13] bmagyar commented on #16
Indeed that line breaks the build_and_test step when a linter fails which shouldn't really be the case as it goes against civilized CI setups where build, test and linting are separate stages. For technical reasons build and test cannot be separated and unfortunately due to the strange habit of linting being shoved into tests, it's all bundled up.

I however support removing linting from the tests

[2020-05-10 12:59] destogl commented on #9
I will reopen it, before `ros2_control_templates` package is created.

[2020-05-10 14:07] destogl opened #17 "Remove passing compiler arguments and test for windows"
As discussed in #4, we will try to reduce the number of arguments passing in `cmake`.

Specifically, those are: `-Wall -Wextra -Wpedantic`

Removing those could produce problems on Windows. This should be removed and than later tested.

Check this [discussion](https://github.com/ros-controls/ros2_control_demos/pull/4#pullrequestreview-407706445) for more details.

[2020-05-10 14:08] destogl commented on #16
I will remove this line from CMakeLists.

[2020-05-10 16:51] destogl commented on #9
Actually, we can close for now. The template packge will come on the end. I will open a new issue for it.

[2020-05-10 16:51] #9 closed

[2020-05-10 17:28] destogl commented on #16
I removed `lint` dependencies compleately in #18 .

[2020-05-11 21:42] #16 closed

[2020-05-11 21:42] #17 closed

[2020-05-14 17:05] destogl opened #19 "Consider to add a Cartesian interface"
For more details see discussion [here](https://discourse.ros.org/t/developing-a-cartesian-manipulator-interface/13872) and follow the links there.

[2020-05-20 10:31] destogl commented on #7
see ros-controls/ros2_control#80

[2020-05-20 12:42] olivier-stasse opened #22 "Use case for a simple DIY robot"
The goal of this use case is to show how easily ROS can help robot makers.

Several discussions with people from FabLabs show that they do not know where to start.
Making a clear, lean example would be *very* helpful.

Maybe this is more about documentation, but it could show clearly where to put the real-time process, the access to the electronics to read sensors, call controllers and write the c

[2020-05-20 19:03] olivier-stasse opened #23 "Use case: robot prototype"
In this use case, it is assumed that the user wants to:
- Test various power electronics - and therefore can have various low level control: torque control, current control, current control + position (PD+),
- Design its own specific transmission protocol
- Transmit PID value computed by a Differential Dynamic Program  (Gain scheduling)
- Create complex actuator with current sensor, absolute encod

[2020-05-26 18:16] destogl opened #24 "Add uploading artifacts in Actions"
check ros-controls/ros2_control#81

[2020-05-26 18:17] destogl commented on #24
I turned this off at one point because it didn't work...

[2020-06-02 20:30] destogl opened #25 "Use case: Enable a robot to be extended with different tools"
A `robot` as ros2_control structure should be extensible with additional tools, e.g. force-torque sensor, milling machine, etc.
This extension should be transparent for controllers by adding new data in the `DynamicJointState` message.
It is preferable to do this without any coding and just loading additional sensor component, i.e. hardware_interface (i the case that sensors is ros2_control enable

[2020-06-02 20:35] destogl opened #26 "Use Case: ros2_control should support tool chaning on a robot"
Tool changers are a usual component in an industrial robotic cell. `ros2_control` should be able to support a change of tools, i.e. hardware interfaces, of a robot.
This should be done without restarting the control node.
This could be done by dynamically loading and unloading the tool components (different sensors and actuators).
To support real-time constrains, one could load all the components

[2020-06-02 20:41] destogl opened #27 "Use case: Support for initialization of robot hardware"
Many robotic components need initialization (e.g. homing) procedures to be ready to use.
Also, the components need to be able to recover themselves after an unexpected event, e.g. an emergency stop.

In ROS1, services are often used for this and they are calling methods directly in `hardware_interface`. this is actually something which could be managed by the controller manager or at least the top

[2020-06-02 20:48] destogl opened #28 "Use case: robotic components should have transparent state representation"
When using hardware components they can be in different states. This is really considered in `hardware_interface` in ROS1, which often leads to a completely new start of the whole control system.

The states could be:
- LOADED: objects of components and interfaces are created (e.g. classes are loaded using pluginlib)
- CONFIGURED: parameters for the robot are read from parameter server and the obj

[2020-06-02 20:54] destogl opened #29 "Use case: Composition of robots"
Mobile manipulators are now a day almost in every research lab for robotics. These are basically multiple robots assembled into one mechanical construction. If each component is already ros2_control enabled there should be a simple way to create a complex robot (in ROS1 CombinedRobot).
Toward controllers, this construction should be transparent in terms that they automatically gain access to every

[2020-06-02 20:56] destogl opened #30 "Use Case: Using industrial robot with `ros2_control`"
Industrial robot has usually single interface for all joints, sensors, and actuators to the "outside world".
The `ros2_control` should enable custom protocol with such "on-block" communication toward hardware.

[2020-06-02 20:59] destogl opened #31 "Use Case: Using modular robot with `ros2_control`"
Many researchers and hobbyists build their robots by using simple sensors and actuators which usually communicate using separate interfaces and protocols to a computer.
The `ros2_control` should support this so that one could create software equivalent of the hardware separating communication interfaces and protocols from a representation of the hardware in `ros2_control`.

[2020-06-02 21:03] destogl opened #32 "Use Case: Different hardware interfaces for each joint"
Modern robots provide usually multiple interfaces towards them, e.g. position, velocity, acceleration, force, etc. It is thinkable that in some cases a user wants to use different interfaces along the kinematic chain, e.g. position on joint 1-3 and velocity on joints 4-6. This is especially interesting for making very complex robots, like mobile manipulators, humanoid robots, etc.

[2020-06-02 21:07] destogl commented on #7
There is no `BaseComponent` anymore, but there is the `SimpleComponent` between `Component` and `Sensor`/`Actuator`

[2020-06-02 21:09] destogl commented on #11
PR: ros-controls/ros2_control#80

[2020-06-02 21:12] destogl commented on #5
Check descriptions of
demo_robot.yaml
demo_robot_minimal.yaml
 in #21
@olivier-stasse : how does this look to you?

[2020-06-02 21:14] destogl commented on #14
the initial version is in #21 file: ros2_control_demo_robot_manager.cpp

[2020-06-03 14:18] destogl opened #33 "Use case: Enable separate hardware communication and control loops"
For communication with some hardware very high frequencies are desirable, e.g. a force-torque sensor. Nevertheless, the control loop is usually limited to the robot hardware or the "slowest" data source. To enable flexible data access from hardware and filtering it should be possible to define the hardware communication loop separate from control loop.

[2020-06-03 18:52] AndyZe opened #34 "Provide methods to stop controllers, and verify they are stopped"
This is a problem we've noticed with ros1_control. When transitioning from streaming commands (e.g. teleoperation or visual servoing) to trajectory planning, we need a way to verify that the robot has actually stopped.

Otherwise, the robot continues to move while the trajectory plan occurs, which makes the start state invalid and the trajectory will not execute.

[2020-06-16 19:44] destogl commented on #5
@olivier-stasse here is something I would need help with, so if you have some time I would be very thankful :)

### Current state
* in #4 there is initial implementation of DemoRobot with URDF and xacro file
* I had problems with parsing xacro files in ROS2, therefore is comment about that in ros2_control_demo_robot/launch/minimal_robot.launch.py
* I solved it by generating URDF in ROS1 and then u

[2020-06-16 19:56] destogl commented on #7
not relevant any more. see ros-controls/ros2_control#80  ros-controls/ros2_control#101 for more details and further development

[2020-06-16 19:56] #7 closed

[2020-06-16 19:57] destogl commented on #11
not relevant any more. see ros-controls/ros2_control#80  ros-controls/ros2_control#101 for more details and further development

[2020-06-16 19:57] #11 closed

[2020-06-16 20:07] olivier-stasse commented on #5
Sounds good !
I will give it try.

[2020-06-16 20:17] Karsten1987 commented on #5
I don't think it makes sense to parse xacro files. I think it makes sense to expect the `robot_description` to be presented as xml and therefore be parsed as such.

[2020-06-17 06:08] destogl commented on #5
Oh, I wrote that confusing...

I meant not to parse xacro file manually, but to convert it automatically in launch file into URDF file.

this didn‘t work for me with xacro in ROS2 for unknown reasons...

[2020-08-21 05:39] #12 closed

[2020-09-11 23:20] destogl commented on #10
after ros-controls/ros2_control#121 not relevant any more

[2020-09-11 23:20] #10 closed

[2020-09-11 23:34] destogl commented on #5
Full list of examples: [source](https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md)

- [ ]    Industrial Robots with only one interface - #37 and ros-controls/ros2_control#140
- [ ]     Industrial Robots with multiple interfaces (can not be written at the same time) 2.1. Robots with multiple interfaces used at the same time - the same str

[2020-09-12 06:34] destogl commented on #14
the concept is proposed in this [file](https://github.com/ros-controls/ros2_control_demos/blob/89dbaefca4a82a6df3d9d9352d1c2d6a17f5405a/ros2_control_demo_robot/src/ros2_control_manager_node.cpp) and it will be moved to `controller_manager` package

[2020-09-12 06:34] #14 closed

[2020-09-21 19:59] AndyZe opened #38 "Example executables from README are missing"
After building, these 2 demos don't exist:

`ros2 launch ros2_control_demo_robot demo_robot_launch.py`

`ros2 launch ros2_control_demo_robot demo_robot_modular_launch.py`

Build command:

`colcon build --event-handlers desktop_notification- status- --cmake-args -DCMAKE_BUILD_TYPE=Release`

[2020-09-22 00:06] Karsten1987 commented on #38
@destogl the launch files described in the readme don't seem to exist

[2020-09-23 16:31] destogl opened #40 "Add class diagram for the first example in the README"
Related to #37

[2020-09-23 16:31] destogl commented on #38
@AndyZe sorry, the README was in the old state. I updated it just now...

[2020-09-27 21:10] dignakov opened #41 "get_name() doesn't seem to be virtual"
I'm trying to compile the `add_rrbot_system_position_joints` branch, and I'm getting this error:

[code]

If I remove `final` it seems to compile fine.

[2020-10-01 17:27] LuisYordano opened #42 "Demo not work"
I'm testing demo -b add_rrbot_system_position_joints.

In the file rrbot_system_position_only.launch.py, exist line executable='ros2_control_node', but in the package control_manager **not exist ros2_control_node**.

![image](https://user-images.githubusercontent.com/13818395/94842035-8098fe80-03e0-11eb-9f3a-c0e746ebeb0f.png)

Could indicate the steps to run the demo correctly.

Thank you in advan

[2020-10-02 13:57] destogl commented on #41
it should be now. check [here](https://github.com/ros-controls/ros2_control/pull/147/files#diff-04c36822f25b0598bc347395128f5d86R65v)

[2020-10-02 13:57] #41 closed

[2020-10-02 14:01] destogl commented on #42
Hi @LuisYordano,

thanks for your interest in the ros2_control.

The instructions are in the ros-controls/ros2_control#147  at the bottom of the [first post](https://github.com/ros-controls/ros2_control/pull/147#issue-487193575).

Please consider that the library is currently under heavy development, therefore the API could by broken at any time!

[2020-10-02 16:50] LuisYordano commented on #42
Hi @destogl,

Thanks for the support.

Error testing demo :

`[ERROR] [1601656357.549508851] [ControllerManager]: Loader for controller 'forward_command_controller_position' not found
`

![image](https://user-images.githubusercontent.com/13818395/94947886-fe720e00-04a3-11eb-80ca-c26c8a013846.png)

I have executed the code without making any modifications.

As the library is under development, I cl

[2020-10-02 16:50] #42 closed

[2020-10-02 17:01] destogl commented on #42
Did you sourced your environment after building the packages?

[2020-10-03 19:04] bmagyar opened #43 "Rename `hardware_interface::hardware_interface_status` to `hardware_interface::status`"

[2020-10-03 19:05] #2 closed

[2020-10-03 19:06] #15 closed

[2020-10-03 19:06] #6 closed

[2020-10-03 19:07] bmagyar commented on #43
wrong repo :)

[2020-10-03 19:07] #43 closed

[2020-10-03 22:03] LuisYordano commented on #42
Yes, I did.

Could indicate the links of the repositories that works for you?

[2020-10-06 09:23] destogl opened #44 "Update README when structure in ros2_control of finished"
Check the [description](https://github.com/ros-controls/ros2_control_demos/blob/85450cc5cd96c0233123f6a2e09f8d756afe394a/README.md)

[2020-12-05 19:45] destogl opened #46 "Add tests for the example HW to be shure that the concepts are implemented properly."
I'll remove the comment, the joints should be exported in defined order as in URDF. We should add test for it.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control_demos/pull/37#discussion_r536880562_

[2020-12-05 20:09] destogl opened #47 "Move joint checks into some helper class to be shared between hardware implementations"
I'll remove the comment, the joints should be exported in defined order as in URDF. We should add test for it.

_Originally posted by @destogl in https://github.com/ros-controls/ros2_control_demos/pull/37#discussion_r536880562_

[2020-12-22 13:17] destogl opened #50 "Create demo for diff drive controller"
__Originally posted by @bmagyar in https://github.com/ros-controls/ros2_controllers/pull/131__

[2021-01-06 07:58] roscore opened #51 "wrong command in Readme"
In readme, ros2 control list_controller is wrong command.
Request that command "ros2 control list_controller" replace to "ros2 control list_controllers".

[2021-01-06 10:59] #51 closed

[2021-01-16 08:38] bmagyar opened #54 "Update linter workflow to use Foxy"
https://github.com/ros-controls/ros2_control/pull/292#issuecomment-761053530

follow what was done on the PR referenced above

[2021-01-18 21:57] destogl commented on #54
I saw this yesterday. Thanks for opening the issue!

[2021-01-19 09:04] C-monC opened #55 "Gazebo examples"
Hi,

Are the gazebo files currently not on the repo? Searching for ros2_control_demo_hardware_gazebo returns nothing.

Thanks,
Simon

[2021-01-19 10:45] destogl commented on #55
Hi Simon,

no they are not. The gazebo support is currently in [development](https://discourse.ros.org/t/gazebo-support-for-ros2-control-breakout-session/18468). We should have this in the next 4-6 weeks.

[2021-01-19 11:20] C-monC commented on #55
Okay cool, is tomorrow's meeting open? I am interested in helping.

[2021-01-19 11:20] #55 closed

[2021-01-19 11:23] destogl commented on #55
Of course! You are very welcome to join! Also check the work for @ahcorde in the ros-simulation/gazebo_ros2_control#44

[2021-01-19 12:30] C-monC commented on #55
Perfect, I'll definitely join.
Are there some easier/smaller issues I can try? I haven't done much c++ apart from tutorials/courses.

[2021-01-19 22:16] destogl commented on #55
If you want to start, look are issues marked with "good first issue" label. They are usually easy and straightforward

[2021-02-01 19:32] mahaarbo opened #59 "RRBotSystemMultiInterface example with multiple command interfaces"
I thought I'd try to make a [RRBotSystemMultiInterface](https://github.com/mahaarbo/ros2_control_demos) according to the [components_architecture_and_urdf_examples](https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md) example that has position, velocity, and acceleration. Integration of the velocity or acceleration to position depends on w

[2021-02-02 05:40] olivier-stasse commented on #59
IHMO I would add a field in the multiple interface in order to switch from one to the other.
I tried an example here:
https://github.com/olivier-stasse/ros2_control_demos/blob/35a4bd6092434185653eefc8ed1a9a07e13bb846/ros2_control_demo_hardware/include/ros2_control_demo_hardware/rrbot_system_quadruped.hpp#L51

Currently I am not completely sure if it is possible to use another type than `double` to

[2021-02-02 05:47] olivier-stasse commented on #59
The main limitation to change the control interface type is coming from here:
https://github.com/ros-controls/ros2_control/blob/f506c2a2a449744ab4e9a414090abb7c182adee0/hardware_interface/include/hardware_interface/loaned_command_interface.hpp#L64

The impact of adding a template parameter to this class is unclear for me.

[2021-02-03 09:19] destogl commented on #59
Hi @mahaarbo,

thank you for your interest in `ros2_control`!

IMO, it seems you found a missing feature. Since the switch is managed completely by the CM in the ros2_control there is a missing interface to notify resources about controllers' states. Should we have some kind of "notify_about_controller_switch" method?

Could you explain, what would be a suitable process for you to notify resources

[2021-02-03 09:25] destogl commented on #59
@olivier-stasse This is also a solution. Would you prefer some kind of "claimed-command-interfaces" notification or to go with extending interfaces.

The interfaces are currently limited to double type. Extension to bool and/or int type should be a no-brainer but strings would be probably not possible.

Should than controller claim all interfaces? Or is it sufficient to know this in the hardware?

[2021-02-03 09:45] mahaarbo commented on #59
@destogl and thank you for the great work you guys have put into `ros2_control`, it feels as though it will be a cleaner system than `ros_control` :)

As for how to implement this, I'm not entirely sure. One way would be to allow the user to specify a function in the `hardware_interface` which is associated with a `command_interface` and that will be called by the `resource_manager` on `claim_comm

[2021-02-03 10:03] destogl commented on #59
@mahaarbo Do you see a need to have two functions, e.g., "check_claim_interfaces" and "clam_interfaces_notification" or the latter is sufficient for your scenario?

[2021-02-03 10:06] mahaarbo commented on #59
@destogl I can try to make an example draft for `ros2_control` if you'd like.

[2021-02-04 09:09] mahaarbo commented on #59
@destogl Here is a working example: [mahaarbo/ros2_control/notify_resource_claim](https://github.com/mahaarbo/ros2_control/tree/notify_resource_claim_example) with the demos from [mahaarbo/ros2_control_demos/notify_resource_claim](https://github.com/mahaarbo/ros2_control_demos/tree/notify_resource_claim_example). The resource manager will call a `notify_state_resource_claim` and `notify_command_re

[2021-02-04 10:47] destogl commented on #59
@mahaarbo: This looks great! thanks! Just one question:

#. Is this relevant for the `state` interfaces? shouldn't they always be populated? Are there some complex HW-scenarios where many states have to calculate?

I propose to proceed as follows:
#. Can you rename/change functions to have the following signature?
[code]
#. Can you rebase your new branch to ros2_control's master?
#. Can you open P

[2021-02-04 10:58] olivier-stasse commented on #59
@mahaarbo Thanks a lot for this, it really helps in clarifying the use-cases.
If I am not mistaken you allow the system to claim position, velocity and effort control interfaces independently, i.e.
it is not possible to acquire the position command interface of a joint by two controllers.
But it is possible to acquire the position command interface and the effort command interface of a joint by th

[2021-02-04 11:00] olivier-stasse commented on #59
IMHO it would be preferable to avoid imposing the existence of classes such as the PosVelAccJointHandle class in ros1_control:
https://github.com/ros-controls/ros_control/blob/noetic-devel/hardware_interface/include/hardware_interface/posvelacc_command_interface.h

[2021-02-04 11:04] destogl commented on #59
@olivier-stasse I understood there is an issue that HW does not know which interfaces are currently claimed and therefore it doesn't know how to control the robot, i.e., which values should be used, e.g., position or velocity.

The case you are describing, with not mutually exclusive interfaces, should be resolved on the controllers' level. So controller should ask all interfaces which are not mut

[2021-02-04 11:12] mahaarbo commented on #59
I'm not entirely sure, I'll remove the state notifications for now, and then it can perhaps be included later if the need arises :)

I'll rebase and then we can continue the code discussion in the pull request.

Yup! Then the same example can be used with two `forward_command_controller`s using different command interfaces on the two different joints to illustrate [robots with multiple interfaces

[2021-02-04 11:16] olivier-stasse commented on #59
They are two very different pratical use cases:
- Either the PID is done at the controller level i.e. the CPU working at 1KHz (max 2.6 KHz) and then the solution you are describing is correct.
- Or, which appears quite frequently, the PID or a cascade of controllers is done at the power electronics level (using micro controller) at much higher frequency (10-20 KHz) and then this has to be at the h

[2021-02-04 13:32] olivier-stasse commented on #59
@destogl May be there is a need of a negociation phase between the controller and the hardware ?

Implictly the effort controller is asking the hardware to switch to an only effort command interface.

One simple way would be to check if the combination of claim command interface can be handle by the hardware when switching to a controller.

[2021-02-04 13:37] olivier-stasse commented on #59
Thanks a lot for the explanations.

[2021-02-04 19:23] BorgesJVT commented on #50
Is anyone in this?
Could you provide more details?
For example, could I create a "diffbot" folder next to rrbot? Using something like ros2_control_demo_hardware/DiffBotSystemHardware?

[2021-02-05 07:18] lingjiekong opened #62 "ros2_control_node fail to launch by using the launch script"
[INFO] [launch]: Default logging verbosity is set to INFO
[INFO] [ros2_control_node-1]: process started with pid [861]
[ros2_control_node-1] terminate called after throwing an instance of 'pluginlib::LibraryLoadException'
[ros2_control_node-1]   what():  According to the loaded plugin descriptions the class ros2_control_demo_hardware/RRBotSystemPositionOnlyHardware with base class type hardware_in

[2021-02-05 07:26] lingjiekong commented on #62
forget to copy over hardware folder. Apologize!

[2021-02-05 07:26] #62 closed

[2021-02-05 21:51] lingjiekong opened #63 "ros2_control_demo_hardware_gazebo package missing"
per README, there is a second package called ros2_control_demo_hardware_gazebo and wondering where is that missing package.

[2021-02-06 16:48] olivier-stasse opened #65 "Making rrbot position only working on Gazebo"
- [x] Link with gazebo_ros2_control: Candidate PR #64
- [ ] Example of joint_trajectory_controller applied to gazebo_ros2_control

[2021-02-08 08:15] bmagyar commented on #50
The idea is to build a demo with a mobile base similar to rrbot. We used diffbot for this traditionally. I am not aware of anyone working on this ATM

[2021-02-08 21:22] destogl commented on #50
Would be great if you could jump on this.

- A hardware in ros2_control_demo_hardware should be created
- Launch file should be added into ros2_control_demo_robot

[2021-02-08 21:24] destogl commented on #65
I will merge #53  his week so the joint_trajectory_controller is there.

[2021-02-08 21:30] destogl commented on #63
It doesn't exist. It was an idea at the beginning to have this package, but we don't need it. We have to change the README.

[2021-02-18 16:45] bailaC opened #67 "Create demo for example 3 : Industrial Robots with integrated sensor"
I am working on the Example 3.
https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md#3-industrial-robots-with-integrated-sensor

[2021-02-20 19:49] destogl commented on #67
Please consider also ros-controls/roadmap#32

[2021-02-20 19:53] destogl opened #69 "Correct trivial issues in implemenation of Example 1"
The issues are found during the review of #68

- [x] https://github.com/ros-controls/ros2_control_demos/pull/68#discussion_r579692441
- [x] https://github.com/ros-controls/ros2_control_demos/pull/68#discussion_r579692520
- [x] https://github.com/ros-controls/ros2_control_demos/pull/68#discussion_r579692918
- [x] use "ros2_control" everywhere for the framework name. Check all copyright headers. (e.

[2021-02-21 05:07] joshnewans commented on #50
Hi guys, I've been looking to chip in and struggled to find the right place (answers, discourse, email, etc.) so I thought I'd put it in here.

I had been working on writing a reasonably beginner-level tutorial on how to build a differential drive robot with ROS, starting with a URDF, placing that in Gazebo with virtual actuators and sensors, hooking it up to a diff_drive_controller, building a ph

[2021-02-22 17:18] destogl commented on #50
Hi @joshnewans, thanks for your interest in contributing to the ros2_control!

I see the following opportunities for you to help:

- review #70
- Writing example URDFs for Diff drives into the [roadmap repo](https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md)
  - There are two options, first is describing the mobile base as a system (#70)

[2021-02-27 20:48] joshnewans commented on #50
Thanks @destogl for your feedback!

[2021-03-05 10:08] #69 closed

[2021-03-17 14:42] destogl opened #73 "Explain meaning of ROS2_CONTROL_DEMO_HARDWARE_PUBLIC in example headers"

[2021-03-24 16:57] Karsten1987 commented on #59
sorry, I am a bit late to the party here.

I am somewhat sticking to my opinion that I see the actual hardware implementations for each actuator, sensor and system as simple as possible and mostly linear in its execution. That is, having a support for a callback in each hardware interface projects quite some business logic on each implementation to guarantee a real time safe execution and necessar

[2021-03-31 12:42] destogl opened #75 "Update to new ros2controlcli interface"
Replace the following:

* `ros2 control load_start_controller` to `ros2 control load --state start`
*  `ros2 control load_configure_controller` to `ros2 control load --state configure`

[2021-04-17 06:45] bmagyar opened #80 "Move contents from README.md to doc/index.rst"
Feel free to revise explanations if need to

[2021-04-21 20:09] gftrobots opened #81 "RRBOT Position and Velocity Controller"
Dear all, I'm struggling to get the position only turned into position and velocity.
Can one of you advise how to expand "rrbot_system_position_only" to cover position and velocity control?

[2021-04-22 06:57] gftrobots commented on #81
This is an example description file:
`<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rrbot_system_position_only" params="name prefix slowdown:=2.0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ros2_control_demo_hardware/RRBotSystemPositionVelocityHardware</plugin>
        <param name="example_param_hw_start_dura

[2021-04-26 16:37] alimustafashah commented on #80
Can you assign this task to me?

[2021-04-27 14:51] bmagyar commented on #80
No problem! Quick heads up: I started adding some content to it in #83

[2021-04-28 01:47] Karsten1987 opened #86 "refactor demo_robot description folder in its own package"
Following the lead of ROS1, it's quite common to have a robot dedicated "description" package, such as `rrbot_description` containing all the gazebo and URDF information. We could consider doing this for `demo_robot`.
As such I'd see a `demo_robot_description` package and a `demo_robot_bringup` package.

[2021-04-28 05:59] destogl commented on #86
I started this in #76

[2021-04-28 08:58] destogl opened #87 "Write documentation for dif drive example merged in #70"
Add how-to-use as done for the Example 2.

This is triggered in #70.

[2021-04-28 16:04] #50 closed

[2021-04-28 16:24] FirstCaptain opened #88 "Running this I get"
I am seeing the following errors and the rrbot is failing to load in RVIZ after following instructions in the Readme

My System is Ubuntu 20.04 and I am running Ros2 Foxy.

![Screenshot from 2021-04-28 11-22-44](https://user-images.githubusercontent.com/3292171/116438445-116b7780-a814-11eb-8385-2e38a0e54fc9.png)
![Screenshot from 2021-04-28 11-21-56](https://user-images.githubusercontent.com/32921

[2021-04-28 16:42] Karsten1987 commented on #88
I've encountered this as well and I feel we should update some documentation on this.

The system is not broken, it's just not fully activated yet. If you look into the launch file, we're launching a robot state publisher node. That node however needs a `joint_states` topic to be published on. For this to happen, we need to load and start the `joint_state_controller`, alternatively also called `jo

[2021-04-29 11:00] mahaarbo commented on #59
Now that #83 has been merged, it's time to close this issue.

[2021-04-29 11:00] #59 closed

[2021-04-29 13:03] FirstCaptain commented on #88
Awesome thanks, that works

[2021-04-30 09:06] bmagyar commented on #88
Let's keep this open until docs are updated

[2021-05-02 14:38] Cdfghglz opened #91 "gzserver segmentation fault"
I have followed the instructions and wanted to try the Gazebo example with

`ros2 launch ros2_control_demo_robot rrbot_system_position_only_gazebo.launch.py`

Versions as of issue creation time:
 * Kubuntu 20.04, Foxy apt packages up to date
 * _control, _controllers, _control_demos on a fresh master in colcon_ws
 * gazebo 11.3.0

The output:
[code]

Could anyone help?

[2021-05-05 10:27] mahaarbo commented on #81
Since you have both a position command interface and a velocity command interface, perhaps you could look at the [`rrbot_system_multi_interface`](https://ros-controls.github.io/control.ros.org/ros2_control_demos/doc/index.html) demo? That is a hardware interface that supports mode switching (using either position or velocity commands).

[2021-05-13 10:01] roboticsai opened #93 "controller manager spawner.py bug"
After i run the command:
`ros2 launch ros2_control_demo_robot diffbot_system.launch.py`
i'm getting the errors:
`format [py]: __init__() got an unexpected keyword argument 'parameter'`
As i debugged the source code. The bug is comming form this line:
[code]
from given launch file.
When i change the parameter to the arguments it works fine but still got the warnnis that controller_manager is not av

[2021-05-13 15:32] Karsten1987 commented on #91
Can you launch your system with a verbose output of gazebo:
Turning this line to `True`: https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_robot/launch/rrbot_system_position_only_gazebo.launch.py#L36

do you also have gazebo_ros2_control packages built from source?

[2021-05-15 05:23] Cdfghglz commented on #91
Hi, thanks for your inputs.

Here is some of the the output of a verbose gazebo run:

[code]

Then I additionally cloned gazebo_ros2_control to the colcon workspace (previously I used system install), but got an error building it:
[code]
`protoc --version` returns `libprotoc 3.14.0`

[2021-05-15 10:20] Gaurav-Kapoor-InMach commented on #93
@roboticsai I also got the same error. So i removed this node in the launch file and its was working fine for me. But there could be an error in spawner.py.

[2021-05-16 17:47] Cdfghglz commented on #91
I managed to build gazebo_ros2_control by following step 1. in https://github.com/AcutronicRobotics/gym-gazebo2/issues/13#issuecomment-482410238

The gazebo segmentation fault still persists however, producing the same exact verbose output.

[2021-05-18 07:10] #93 closed

[2021-05-19 14:38] eliabruni commented on #91
Hello, having the same issue.

[2021-05-20 16:12] bmagyar commented on #91
Are you guys trying to compile things that clash on the protobuf compiler version? That's going to be a though nut to crack... I am not sure we can help you from ros2_control, essentially anything using gazebo will be broken. Are you trying to use gym + gazebo + ros2_control? That description seems to apply to ROS Crystal and Ubuntu 18, I'm not sure if it applies to Foxy and Ubuntu20 as well.

[2021-05-21 05:14] Cdfghglz commented on #91
The compilation errors were solved by following the link referenced in my earlier reply https://github.com/ros-controls/ros2_control_demos/issues/91#issuecomment-841851095

The problem happens on runtime. It possibly still has to do with protobuf. Over the weekend I try to set up everything clean from scratch with a single version of protobuf on my system and report.

[2021-05-24 08:49] olivier-stasse opened #95 "Multiple interfaces demo not updated"
Status
-------
The current `ros2_control_demo_robot/description/rrbot_system_multi_interface.urdf.xacro` in https://github.com/ros-controls/ros2_control_demos/blob/f5e163d4e0554c1f7c3ec0fb4629ae3e2be2555d/ros2_control_demo_robot/description/rrbot_system_multi_interface.urdf.xacro#L10 points towards the wrong location of `rrbot.urdf.xacro`. It is the same for `rrbot.gazebo.xacro ` and for `rrbot.ma

[2021-06-02 18:52] nicholaspalomo opened #97 "Issues with demos"
Hi, everyone,

Here are some issues in the demos and the changes I made to get them to work:

- [ ] In step 2 under the heading "Using ForwardCommandController" of the ReadMe,

```ros2 control switch_controllers --start-controllers forward_position_controller```
should be changed to:
```ros2 control switch_controllers --start forward_position_controller```

- [ ] In step 3 of the same section of t

[2021-06-03 01:15] robofoundry opened #98 "Error compiling packages with colcon build --symlink-install"
After cloning the repos and following instructions in read me, I get compile error, output from console below. Any help or pointers greatly appreciated. My installation is for ros foxy.

Starting >>> controller_manager_msgs
Starting >>> ros2_control_test_assets
Finished <<< ros2_control_test_assets [0.57s]
Starting >>> hardware_interface
Finished <<< hardware_interface [1.09s]
Starting >>> control

[2021-06-03 04:57] olivier-stasse commented on #98
Did you check if your computer has not a ros2_control binary package installed ?
My experience is that trying to compile  ros2_control from sources together with the binary packages will not work. There is a change in the API.

[2021-06-03 09:18] bmagyar commented on #97
Could you please open a pull request with these changes?

[2021-06-03 17:11] tonybaltovski opened #99 "Diff Drive Demo not loading diff_drive_controller"
I am trying to run the diff drive demo but the `diff_drive_controller` doesn't load.  I run `ros2 launch ros2_control_demo_robot diffbot_system.launch.py` and it start successfully.   Checking the loaded controllers with `ros2 control list_controllers`, only `joint_state_broadcaster[joint_state_broadcaster/JointStateBroadcaster] active` is shown.  I can load it manually but it stays inactive.  Any

[2021-06-03 22:56] robofoundry commented on #98
@olivier-stasse - you are absolutely correct. I do have binary packages installed for ros2_control. I'll try to uninstall and try again. Thanks so much for the pointer, very much appreciate it. For future though what is the best way to run the demos and still keep updated with latest binaries, are there any best practice recommendations for the community?

[2021-06-06 17:06] bmagyar commented on #98
We try to keep things released as much as possible but one of our latest releases had a bundle of small breaking changes. This may have caused the issue you saw, sorry about it. This is not standard practice so the latest binaries should typically work for you however. If the latest demos repo doesn't compile it is because many things are being actively developed and the sync from the build farm d

[2021-06-06 23:53] robofoundry commented on #98
Thank you so much Bence for commenting and caring!! This is what makes ROS community so awesome. I'll keep your tip in mind and get latest binaries and try the demos again.

[2021-06-09 05:21] olivier-stasse commented on #98
@robofoundry Thanks for your appreciation. @bmagyar is doing an impressive job on this project.
Could you close the issue if you are satisfied ?
Thanks a lot.

[2021-06-09 21:06] #98 closed

[2021-06-10 05:06] olivier-stasse commented on #99
Dear @tonybaltovski Thanks for the report.
Could you confirm that you have the following exception in the terminal where you launched the demo:
`[ros2_control_node-1] ros2_control_node: /opt/ros/foxy/include/rcppmath/clamp.hpp:41: constexpr const T& rcppmath::clamp(const T&, const T&, const T&) [with T = double]: Assertion `!(hi < lo)' failed.` ?
I run into a similar problem and found a possible f

[2021-06-11 06:12] destogl opened #105 "Move documentation to .rst files"
I am proposing to add short overview in the readme file and link to the ros2_control docs. Then, a detailed description of scenarios should be made in `docs` folder in .rst format.

_Originally posted by @Karsten1987 in https://github.com/ros-controls/ros2_control_demos/pull/76#r649518684_

[2021-06-11 10:52] olivier-stasse opened #106 "Branch organization: main and devel"
Dear all,
To ease the development process, why not use the following organization:
 * We keep master up-to-date with the current release. This branch has to compile with binary currently released on the current ROS-2 release (now foxy).
 * We use a devel branch to integrate new features for the new releases.

What do you think ?

[2021-06-11 22:25] newcanopies commented on #98
hi @olivier-stasse

would such a binary vs source conflict raise this error at running the demo:
$ `ros2 launch ros2_control_demo_robot rrbot_system_position_only.launch.py`
[code]

would un-installing debian control packages be the only workaround?

Kind thanks!

[2021-06-11 22:40] newcanopies opened #107 "[rviz2-3] Warning: Invalid frame ID "link1" passed to canTransform argument source_frame"
$ `ros2 launch ros2_control_demo_robot rrbot_system_position_only.launch.py`
[code]

the error is persistent with any robot/package launching Rviz2 configs, including this demo.

tf2 is installed as debian
$ `ros2 pkg prefix tf2`
/opt/ros/foxy

Thank you!

[2021-06-12 22:27] destogl commented on #107
Can you try or #76? This error always comes, but it is not persistent. The rviz robot visualization causes it

[2021-06-14 05:22] Karsten1987 commented on #107
TL;DR: Make sure the joint state broadcaster is loaded and running!

The error message is maybe not as clear as it could be, but its cause is relatively simple and straightforward. TF is being published by the robot state publisher - which takes in joint states, performs FK and publishes the kinematic chain in task space. Now, the reason the frame doesn't exist is because nobody publishes the join

[2021-06-14 15:20] #86 closed

[2021-06-15 13:43] tonybaltovski commented on #99
@olivier-stasse that does not seem to be the issue.  The node does not crash.

[2021-06-16 11:50] newcanopies commented on #107
Today, pulling 76 breaks the launch:
  File "<frozen importlib._bootstrap_external>", line 779, in exec_module
  File "<frozen importlib._bootstrap_external>", line 915, in get_code
  File "<frozen importlib._bootstrap_external>", line 972, in get_data

Was there supposed to be another PR to try before letters _or_ 76 ?
I'm aware PR work is on-going, many thanks!

[2021-06-16 12:17] DaisukeUra opened #110 "prefix for multi robot system"
Hi,
I'm trying to control multi robots using ros2_control.
The information in this repository has been very helpful and I appreciate it.

Now, the code says that "If changed then also joint names in the controllers' configuration have to be updated."
So, I must modify a .yaml file for each robot, right?

I think it is useful for multi-robot control to be able to automatically add a prefix for the

[2021-06-16 12:19] olivier-stasse commented on #107
Dear @newcanopies #76 has been merged to master.

Therefore `ros2_demo_control_robot` does not exist anymore.

You should use
`ros2 launch ros2_control_demo_bringup rrbot_system_position_only.launch.py `
instead.

[2021-06-16 13:22] newcanopies commented on #107
Dear @olivier-stasse

I pulled the merged Master branch, symlink rebuilt and ran the command with following error:

[code]

My use case requires both Rviz **and Gazebo**, so I also tested:
$ `ros2 launch ros2_control_demo_bringup rrbot_system_position_only_gazebo.launch.py`
[code]

am I missing a step?
Thank you!

[2021-06-16 15:20] olivier-stasse commented on #107
Sorry maybe I missed it, but I do not see an error rather warnings. Could you highlight the error you are talking about ?

For the second part of your discussion, could you elaborate on which version gazebo_ros2_control and gazebo_ros_pkgs you are working ? I tested everything with commit 1b90ab1c4f2830 for gazebo_ros2_control and gazebo_ros_pkgs version 3.5.3 (commit 3f18465d3f)

[2021-06-16 16:53] olivier-stasse commented on #107
Dear @newcanopies I forgot to mention but indeed they are some problems with gazebo right now on master.
You could try to apply #109 .

[2021-06-16 17:32] bmagyar opened #111 "Create stable branch"
@olivier-stasse @destogl @Karsten1987 please let me know to create it

[2021-06-19 07:42] olivier-stasse commented on #110
This is an interesting feature.

Could you elaborate on the scenario ? Do you have a working example to start with ?

[2021-06-20 08:06] DaisukeUra commented on #110
I assuming multi-robots controlled with autonomous or teleoperation.
They are homogeneous and have a unique identifier (such as hostname or mac address, anything unique).
I'll use the identifier to divide the namespace.
Basically, they work autonomously but when any trouble occurs, it should solve by teleoperation.

I would have to modify controller.yaml for each robot.
It might be good with few r

[2021-06-20 08:24] destogl commented on #110
Hi, this is very intriguing feature. Just to clarify your use-case:

- you are using the same URDF/XACRO for each robot in our multi-robot system
- then for each robot you set different prefix so that their joint names are unique
- the issue you have is that you theoretically need a separate "controllers.yaml" file for each robot because of mapping of controller to joints

Did I get this right?

Y

[2021-06-20 17:30] DaisukeUra commented on #110
Yes, that's right.

I use forward_command_controller/ForwardCommandController ( rrbot_system_position_only.launch.py based).
I want to handle multiple similar groups easily, like namespace.
My approach seems symptomatic.
Getting it to work well is a very enjoyable task for me, but it can be very annoying for others.

It seems a good way than my approach.
I consider making a controller that Forward

[2021-06-20 17:45] olivier-stasse commented on #110
I agree, but they are several possible scenarios.
For now the most "simple" one seems to have one HardwareInterface with several systems.
Checking already this scenario would be interesting.
It could be for instance two rrbot and a slider which have all a fixed base.
It seems to me that this one could be done with the current version of `ros_control`

Another scenario could an be an intemittent co

[2021-06-21 02:37] DaisukeUra commented on #110
I assumed the first scenario but interesting in the second one.
It's a task like an excavator loading a dump truck.
The idea which creating temporarily a combined robot looks good to me.
We can attend to main tasks and be able to don't care which robot we teleoperate with.

I haven't enough idea about the second scenario.
However, the collaboration of robots will increase in the future.
I'll think

[2021-06-21 14:33] bailaC opened #115 "Example 4 : Add code for the demo example"
[Example - 4](https://github.com/ros-controls/ros2_control_demos#example-4-differential-drive-mobile-robot)

I will pick this item and start working on it.

[2021-06-22 02:17] tonybaltovski commented on #99
Pulling in the recent changes fixed the issue.  I do believe it could be an issue with name spacing in ros2_controllers but haven't got a chance to investigate it.

[2021-06-22 02:17] #99 closed

[2021-06-22 04:31] olivier-stasse commented on #99
@tonybaltovski glad that the recent changes fixed the issue.

[2021-06-22 04:36] olivier-stasse commented on #107
Dear @newcanopies the new changes should have fixed your issue of having rviz being blank. This will not fix the warnings. The gazebo simulation have also been fixed.

[2021-06-22 04:37] olivier-stasse commented on #106
Closing in favor of #111

[2021-06-22 04:37] #106 closed

[2021-06-22 04:39] olivier-stasse commented on #97
Dear @nicholaspalomo could you confirm that you still have a problem with the current HEAD of master, i.e. commit 3326857b6186772269e57d75d7da3b25ba9681a0 ?

[2021-06-22 15:43] bailaC commented on #115
@olivier-stasse I think this is already done at [here](https://github.com/ros-controls/ros2_control_demos/pull/113)

@destogl can you please review once? If so, we can close this as duplicate.

[2021-06-22 15:58] olivier-stasse commented on #115
@bailaC Sorry I have mistaken example 4 (diff_robot) for example 3.

The PR you are mentionning was merged too quickly by me.
@destogl disagre with some of the code style and I was planning to work on it by the end of the week. But the example is starting for me.

Let me know if there is a problem because not it is affecting master.

[2021-06-23 17:49] nicholaspalomo commented on #97
Hi, @olivier-stasse. Sorry for my late reply. I'll check it now and get back to you.

[2021-06-23 18:50] nicholaspalomo commented on #97
@olivier-stasse I started from a completely new/clean workspace. One thing I noticed is I get an error during the build process:
[code]
When I tried installing `test_msgs` from binaries, it seems there was none available for `foxy`. I cloned `rcl_interfaces` to my `src` folder and checkout out the `foxy` branch. That resolved the issue for me. So, maybe in the `ros2_control_demos.repos` file the f

[2021-06-24 05:42] olivier-stasse commented on #97
@nicholaspalomo Thanks for the tests. I will investiguate.

[2021-06-24 15:19] Karsten1987 commented on #97
That's not an issue with the demos. That's pretty normal if you compile your packages from source as their dependencies are not automatically installed opposed to a binary installation via `aptitude`.  For source builds you can crawl your workspace and install their declared dependencies as follows:
[code]

The package is called `ros-foxy-test-msgs`. Note that underscores `_` are replaced with das

[2021-06-26 15:25] bailaC commented on #115
@olivier-stasse I see many files are merged with their old code and coding styles as well. I am not sure what should be next move here. There is no problem so far. But I am not able to see any visible output of the PR-113.

[2021-06-26 16:12] olivier-stasse commented on #115
Dear @bailaC, some of the inconsistencies  has been fixed partially by PR #117.
They are some discussions on PR #118.

Example 4 has been added.

[2021-06-26 17:34] olivier-stasse commented on #111
We could have a first stable branch once most of the README.md has migrate to the doc directory.
This way it will consistent with ros2_control.

[2021-06-28 13:52] bailaC commented on #115
The [example-4](https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md#4-industrial-robots-with-externally-connected-sensor) is taken from here.

[2021-06-28 14:38] newcanopies commented on #107
Thank you kindly @olivier-stasse, the error seems to have changed:

Above `position_only` works after pulling today's Master sources for rps2_control, ros2_controllers and ros2_control_demos.

However, in the Gazebo launch:

`ros2 launch ros2_control_demo_bringup rrbot_system_position_only_gazebo.launch.py`

now the joint_state_broadcaster in controller_manager `spawner.py-5` process dies with the

[2021-06-28 14:46] newcanopies commented on #107
Presumably the demo rrbot joint_state_broadcaster is loaded by the Gazebo launch file:

https://github.com/ros-controls/ros2_control_demos/blob/bf32f38d4d3dca02bde7d46ac15af51fe4870c66/ros2_control_demo_bringup/launch/rrbot_system_position_only_gazebo.launch.py#L62-L67

[2021-06-28 15:06] bailaC opened #119 "Restructure the examples as an individual packages"
Hello All,

while working with examples, I found it would be better if we

1. Keep individual examples complete in itself.
2. Each example should contain the proper folder structure
3. While merging any Pull Request, it **MUST** have the **Readme** file, which **MUST** include below points but not limited to,
- How to run the example (Detailed step)
- Expected command output (if any)
- Expected si

[2021-06-28 15:23] Karsten1987 commented on #107
ros2_control in Foxy had ABI breaking changes. We ran into the same problem the other day. In order to fix your problem you have essentially two options:

* Change your official ROS apt repository to use the testing repository. http://wiki.ros.org/TestingRepository#Usage
* Wait until the next Foxy sync in which all testing repositories are matched with the official release repository

[2021-07-10 05:57] blakermchale commented on #97
I tried the rrbot gazebo demo also and had the same issue where the controller manager did not spawn. I didn't have any issues during the build process either. Here's a snippet from my terminal:
[code]

[2021-07-10 08:14] destogl commented on #97
@blakermchale thanks for pointing this out. I'll look at this later today.

[2021-07-25 10:37] gc-robotics opened #129 "Hardware interface not starting"
Hi all,

I am trying out the diffbot example.
It seems to me that the .start() method on the DiffBotSystemHardware is never invoked... I can't see any message in the logs... (there is a RCLCPP_INFO at the very beginning of start())..

Regards,
GC

[2021-07-25 14:56] gc-robotics commented on #129
I have seen that by tweaking use_fake_hardware it is possible to load the DiffBotSystemHardware.

[2021-07-25 14:56] #129 closed

[2021-08-09 14:03] tonybaltovski opened #130 "Example of loading controller from `controller_manger`"
I have written a `hardware_interface` for Husky and am able to load it from the command line.  However, I cannot load using the `controller_manager`.  Is there an example that better explains how to that?  Source for current work: https://github.com/husky/husky/tree/wip-ros2-control/husky_base

[2021-08-09 18:52] Karsten1987 commented on #130
I am not sure I follow what exactly you're trying to load. The hardware interfaces are solely loaded through the resource manager and all declared state and command interfaces are made available through the controller manager.
You shouldn't really have to deal with the controller manager.

I guess the example around the `diffbot` could serve you as a decent entry point: https://github.com/ros-cont

[2021-08-10 14:21] tonybaltovski commented on #130
Thanks! Awesome, it worked!

[2021-08-10 14:21] #130 closed

[2021-08-23 07:05] Kakcalu13 commented on #22
Please...I need this lol

[2021-09-14 16:59] Richard-Haes-Ellis opened #134 "Could not contact service /controller_manager/list_controllers"
I've followed the demo for the RRBot and all works fine until I try to list the controllers. I get this message:

`Could not contact service /controller_manager/list_controllers`

I also get the same message when calling:
[code]

I haven't tested the rest of the services but I'm guessing that the controller_manager isn't online or not launched properly.

Furthermore I've also tried to run a ros2_c

[2021-09-15 21:20] bmagyar commented on #134
Not sure what you are running but I'd try removing the spawners from your main launch file and first letting the rest start up, then inspecting if the controller_manager services are available.

The spawner script has a [timeout](https://github.com/ros-controls/ros2_control/blob/master/controller_manager/scripts/spawner.py#L89) you could change but the default is 10s which I think is fairly genero

[2021-09-16 08:32] Richard-Haes-Ellis commented on #134
I've figured out the culprit, it seems that the hardware_interface hangs waiting for my device to respond and messes up the controller_manager start-up. I'll close. Thanks!

[2021-09-16 08:32] #134 closed

[2021-09-17 10:11] bmagyar commented on #134
That however sir may be something we are able to assess very soon! @destogl here's another example of why we need component lifecycles :D

[2021-11-19 16:18] pepeRossRobotics opened #145 "[Question about the examples] Where is an Actuator example?"
Hello,

I am writing a HW interface for an actuator. I want it to be minimal and start building from it. By checking the examples, it seems that every example is using the `hardware_interface::SystemInterface` and use this to read/write to the hardware.
But I cannot find any `hardware_interface::ActuatorInterface` nor `hardware_interface::SensorInterface`. Am I missing something? Are the implement

[2021-12-08 08:31] MikeyYen opened #146 "Is there any example for lidar sensor on ROS2 control hardware component?"
Hi All

Currently, I'm working on developing lidar hardware component.
Is there any example for that?

Thanks

[2022-01-28 08:25] destogl commented on #146
Hi @MikeyYen,

Currently we don't have any example like that. Did you do something already? Maybe we can discuss how to integrate it.

Cheers,

Denis

[2022-02-07 09:03] destogl opened #149 "Add example with GPIO interfaces used"

[2022-02-07 09:05] destogl commented on #145
There is one `SensorInterface` example (at least now). As of actuator, it is missing, but all is equivalent.

If you are starting writing driver, check control.ros.org for details. There is also a reference to scripts for code-generation of minimal examples/packages.

[2022-02-07 09:05] #145 closed

[2022-02-26 21:32] Gilocho commented on #134
apparently I have the same problem as you, how did you solve it?, I'm a bit confused with this, thanks for the help in advance

[2022-03-09 15:55] HusamZain opened #153 "diffbot not circling in Rviz"
I'm using ROS2 galactic , and trying to do the diffbot example.
I downloaded ros2-control and ros2-controllers from apt not source
everything seems to work fine, until when I try to write a message to /cmd_vel  as in step 5 (see first pic)nothing happen and the robot in rviz doesn't circling.
![Screenshot from 2022-03-09 16-48-22](https://user-images.githubusercontent.com/97671800/157477711-7cb01e

[2022-03-09 17:26] destogl commented on #153
You did all good. Probably the documentation is not on the newest state. Can you please open PR with your fix?

[2022-03-10 11:52] HusamZain commented on #153
@destogl
Thank you for your feedback!
Yes sure, I'm new to github, so not sure if I did it right !

[2022-03-12 11:50] #153 closed

[2022-03-17 13:47] farbod-new opened #156 "ros2_control_demo_hardware package does not build on ROS2 Foxy"
Hello,

 When I am trying to build the package, i get many error messages and the build fails.

Starting >>> diffbot_description
Starting >>> ros2_control_demo_hardware
Starting >>> ros2_control_test_nodes
Starting >>> rrbot_description
Finished <<< diffbot_description [0.42s]
Finished <<< rrbot_description [0.46s]
Finished <<< ros2_control_test_nodes [1.41s]
--- stderr: ros2_control_demo_hardware

[2022-03-17 16:12] bmagyar commented on #156
Please use the `foxy` branch or start using `rolling`

[2022-03-17 16:12] #156 closed

[2022-03-22 15:58] T2FF commented on #134
Hi i also have the same problem, is there a way to solve the hardware interface problem?

[2022-03-25 10:23] destogl commented on #115
This is done.

[2022-03-25 10:23] #115 closed

[2022-04-09 17:04] be-glass commented on #153
It would be very nice to place a warning in the documentation. It took me two 2 days of debugging before I found this.

[2022-04-15 07:07] destogl opened #171 "Remove use of `using` in examples and use `hardware_interface::CallbackReturn` instead"
With changes in ros-controls/ros2_control/pull/673 we had to add additional using in examples for the code to be compilable.

@fmauch gave us a great idea [here](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/pull/339#issuecomment-1098912220), to actually use `hardware_interface::CallbackReturn` instead. This is much more future-proof!

Here you should do the following:
- [ ] remo

[2022-04-18 12:30] hm00201 opened #172 "Faild to build ros2_control_demo_hardware package"
Hello, does anyone know to solve following build error?

I want to run demo with following page.
https://github.com/ros-controls/ros2_control_demos

I did following steps,

(1) mkdir -p ~/ros2_control_demo_test/src
(2) cd ros2_control_demo_test/src
(3) git clone https://github.com/ros-controls/ros2_control_demos
(4) cd ~/ros2_control_demo_test
(4) rosdep install --from-paths src --ignore-src -r -y

[2022-04-19 00:13] hm00201 commented on #172
Sorry, I'm not familar with blanch operation.

Following video solved my problem.
https://www.youtube.com/watch?v=1MWIkTLEXlw

[2022-04-19 00:13] #172 closed

[2022-05-03 14:18] AndyZe opened #175 "open_loop flag is used differently in rrbot vs diffbot"
`open_loop_control: true` vs `open_loop: true`

https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_bringup/config/rrbot_controllers.yaml#L39
https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_bringup/config/diffbot_controllers.yaml

[2022-05-09 06:01] awa152 opened #177 "Wrong DLL name in target_compile_definitions of demo hardware?"
I guess that in line 47 of the hardware CMakeLists.txt (https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_hardware/CMakeLists.txt) is a copy and paste error?

[code]

Shouldn't it be:

[code]

[2022-05-09 09:12] awa152 opened #178 "Bug in rrbot_system_with_sensor.cpp on_activate() method"
In https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_hardware/src/rrbot_system_with_sensor.cpp line 175 within the on_activate() it says:

[code]

This should be:

[code]

[2022-05-20 14:09] GeorgeZZZZZ opened #180 "undefined symbol: builtin_interfaces__msg__Duration__are_equal"
Hi, I'm using binary installed galactic, this error has not shown before the update few days ago.
I'm new to ros so I have no Idea how to fix this,
I try to reinstall ros2 package and reinstall ubuntu to get a fresh install but still get this error.
I don't know what to do now, may be I should delete all packages and build from source? any suggestion, thanks.

There are two errors when I try to la

[2022-05-20 15:31] bmagyar commented on #180
Which branch of demos are you using?

Also...this linking error seems pretty significant, I'm afraid your email
have a broken setup but don't know how on a mint system...

On Fri, 20 May 2022, 15:09 GeorgeZZZZZ, ***@***.***> wrote:

[2022-05-21 17:42] GeorgeZZZZZ commented on #180
Using galactic branch.
Turns out I add mirco-roc source in bashrc when I was testing codes on esp32. Now I remove source every thing works fine.
Thanks for the reply anyway.

[2022-05-21 17:42] #180 closed

[2022-05-21 18:29] bmagyar commented on #180
We have CI building stuff in a variety of setups, it's just extremely
unlikely anyone approaching us with a build error is not coming with an
issue that's their mistake ;)

On Sat, 21 May 2022, 18:42 GeorgeZZZZZ, ***@***.***> wrote:

[2022-05-27 15:50] kshfire opened #184 "Humble: [ERROR]: Could not initialize the controller named 'forward_position_controller' when executing rrbot.launch.py"
Environment :  Ubuntu 22.04,  ROS 2 Humble

Anyone help me to fix this problem.  Based on recent updates, rrbot.launch.py example generated forward_position_controller problem.
Without recent updates (maybe fix-source-build-on-rolling branch and perhaps w/o recent ros2 control ??), rrbot.launch.py 's control example was well worked. But, now it is not worked.
What has changed ?  How to fix this pr

[2022-05-28 16:16] kshfire commented on #184
I'm a beginner for ROS thus I couldn't understand what the problem is. But, the diffbot example is working well.
Thus, comparing to the diffbot example, the above problem was solved by modifying it as follows.
This is not the correct way I think. Hopefully this issue will be resolved in the future.

====  forward_command_controller.cpp  ================
void ForwardCommandController::declare_param

[2022-05-28 16:18] #184 closed

[2022-06-02 04:11] willnil commented on #149
I am trying to add `ros2_control` gpio interfaces to my robot. I did some searches and I see the only example I found is the [UR ROS2 driver](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/ur_robot_driver/src/hardware_interface.cpp).

[2022-06-08 15:20] kylerlaird opened #185 "DiffBot: /cmd_vel remapped to /diffbot_base_controller/cmd_vel_unstamped"
https://github.com/ros-controls/ros2_control_demos
Under DiffBot, Step 5 publishes a command to /cmd_vel, a topic with no subscribers.

Publishing to /diffbot_base_controller/cmd_vel_unstamped gives the desired result.

https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_bringup/launch/diffbot.launch.py
[code]

[2022-06-13 00:45] ijnek opened #186 "parameter 'joints' has already been declared"
When following instructions in README.md and running:

[code]

An exception is thrown, with the forward_position_controller failing to start.

[code]

Then, running ``ros2 control list_controllers`` as in the README.md returns:

[code]

Missing ``forward_position_controller[forward_command_controller/ForwardCommandController] active``

[2022-06-23 10:35] pierre-rouanet commented on #186
It was fixed there I think: https://github.com/ros-controls/ros2_controllers/commit/547cef784df4fda35cebd6a1c1ab282d7b24f83d

[2022-06-23 12:08] ijnek commented on #186
Great, thanks @pierre-rouanet

[2022-06-23 12:08] #186 closed

[2022-07-06 10:52] jure-no opened #189 "Ros2 control demos for humble"
## Problem
Hello, when will it be realeased for humble? I am trying to folow tutorials, but there is no humble version yet.
## Environment
ROS Distro: Humble
OS Version: e.g. Ubuntu 22.04

[2022-07-06 11:57] bmagyar commented on #189
This repo is source-only, there won't be releases.

[2022-07-06 11:57] #189 closed

[2022-07-15 12:05] destogl opened #193 "Update name of `fake_*` parameters to `mock_` prefix"
It depends on ros-controls/ros2_control#774

Steps:
1. Update all launch files
2. Update all xacro files
3. Update the documentation.

[2022-07-15 12:06] destogl commented on #175
Closing this because it is actually an issue with controllers.

[2022-07-15 12:06] #175 closed

[2022-07-15 12:07] destogl commented on #177
this is correct. can you submit a PR for that?

[2022-07-15 12:45] #177 closed

[2022-07-15 12:46] #178 closed

[2022-07-15 12:47] #185 closed

[2022-08-08 12:34] enriLoniterp opened #202 "ros2 control demos foxy related packages NOT WORKNG"
hi everbody,

i was searching for related packages of ROS2 Foxy version in main git hub page in the README and when clickin on related packages i got
![183417192-5743a997-310b-42a2-9729-cb3f524dc4e7](https://user-images.githubusercontent.com/43698855/183419081-998321b6-6dac-4e7c-a303-197a898779db.png)
![183417200-8253fa5b-e7f2-404e-a654-fc1f81cb529c](https://user-images.githubusercontent.com/43698

[2022-08-08 12:44] bmagyar commented on #202
Nice picture

On Mon, 8 Aug 2022, 13:35 errixerri, ***@***.***> wrote:

[2022-08-08 13:17] destogl commented on #202
The package is not release so you will not find it in ros-index for now.

[2022-08-24 11:11] omr-web commented on #134
I have the same problem but I dont understand how can ı solve it. Could you help me please

[2022-09-17 08:26] benthebear93 opened #209 "change hw_state_ to hw_position for only position command rrbot."
As a beginner, i been reading code for rrbot and diffbot together.

One thing that made me little confusing was variable's name.

variable for state of position only rrbot is

`std::vector<double> hw_states_;`

variable for diffbot is

[code]
and rrbot_system_multi_interface has

[code]

it's trivial but wouldn't it be better to unify the names of variables?

[2022-09-17 09:47] bmagyar commented on #209
Such suggestions are best communicated through PRs ;)

[2022-09-20 17:50] dcconner opened #210 "Inconsistent topic names in demo"
In rrbot.launch.py, the topics are remapped.  This works with the cli publisher, but not the test_forward_position_controller.launch.py
If I remove the remapping, and modify cli  example to use full topic, then both work.

`
        remappings=[
            (
                "/forward_position_controller/commands",
                "/position_commands",
            ),
        ],
`

The demos should

[2022-09-20 17:52] dcconner commented on #210
Didn't see issue, but PR #208 attempts to fix in the other direction

[2022-09-21 10:17] MightyMirko opened #211 "Galactic - CMake Error Build fails.."
Hello,

perhaps i'm missing to install something but in a fresh new terminal with colcon and ros2 sourced, i do get this error..

Version:

- ros2-galactic
- Ubu-2004
- cmake 3.24

Command: (After dependecies met)

`colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release --symlink-install`

Output:
[code]

[2022-09-21 12:26] benthebear93 commented on #209
@bmagyar I will think about more general ways to unify the variables name and do the PR.

[2022-10-13 04:26] hm00201 opened #213 "How to set PID gain position/velocity/effor controllers"
Hi eveyone,
I would like to set PID gain to controllers.
Could you tell me how to set gains in yaml file?

Are following setting correct?

'''
controller_manager:
  ros__parameters:
    update_rate: 1000 # Hz

    effort_controllers:
      type: effort_controllers/JointGroupEffortController
      pid: {p : 1, i : 1, d : 1}

    forward_position_controllers:
      type: position_controllers/JointGr

[2022-10-14 03:59] #213 closed

[2022-10-14 04:00] hm00201 commented on #213
[Porting PID controllers to ROS2 controllers · Issue #152 · ros-controls/gazebo_ros2_control](https://github.com/ros-controls/gazebo_ros2_control/issues/152)

[2022-10-23 15:51] rda11 commented on #134
can you please explain a little more...

[2022-11-02 18:46] #202 closed

[2022-11-02 18:48] #193 closed